<h1>you inserted</h1>

<ul>
    <li><h3><b>Amount:</b><%=@expense.amout%></h3></li>
    <li><h3><b>Description:</b><%=@expense.description%></h3></li>
    <button><%=link_to "Back to home", expenses_path %></button>
</ul>